ul li::before {
    content: "\2022";
    color: #4E93A2;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}

ul {
    list-style: none;
}

li p {
    display: inline;
}

strong {
    color: #4E93A2;
    text-transform: upperCase;
}