.job--description > ul li::before {
    content: "\2022";
    color: #4E93A2;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}

.job--description > ul {
    list-style: none;
}

.job--description > ul > li > p{
    display: inline;
}
.job--description > li p {
    display: inline;
}

.job--description > strong {
    color: #4E93A2;
    text-transform: upperCase;
}